RESEND_API_KEY=
OWNER_EMAIL=

#used for auth redirects
NEXT_PUBLIC_SITE_URL=

NEXT_PUBLIC_SUPABASE_URL =
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY =
SUPABASE_SECRET_KEY = 
HEALTH_CHECK_SECRET =

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=